extends ../layout/admin

block contenido 
     main.login.contenedor
        h1.login__heading= pagina
        form.login__formulario(method="POST")
            div.login__campo
                label.login__label Nuevo Password:
                input.login__input(type='password', placeholder='Tu Password' name="password")
            div.login__submit
                button.login__boton Guardar
        nav.login__nav