@use 'base/variables' as v;
@use 'base/mixins' as m;

.descuentos {
    position: relative;
    bottom: 5rem;
    background-color: v.$gris;


    &__contenido {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: v.$separacion;
        border-bottom-left-radius: 1rem;

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m.desktop {
            grid-template-columns: repeat(3, 2fr);
        }
    }

    &__enlace {

        &:hover {
            cursor: pointer;
        
        }
    }

    &__campo {
        background-color: v.$blanco;
        border-bottom-left-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
    }

    &__descripcion {
        padding: .8rem;
        font-size: 1.33rem;
        max-width: 29.5rem;
        text-align: center;
        color: v.$textGray;
    }

    h2 {
        text-align: left;
        margin-bottom: v.$separacion;
        font-weight: 900;
        position: relative;
        left: 7.5rem;
    }

    &__imagen {
        max-width: 30rem;
    }

    &__icono {
        width: 4rem;
        color: v.$blanco;
    }

    &__boton {
        width: 100%;
        padding: 2rem;
        border: none;
        border-bottom-left-radius: .6rem;
        border-bottom-right-radius: .6rem;
        font-weight: bold;
        background-color: v.$blanco;
        text-transform: uppercase;
        color: v.$textGray;
        transition-property: background-color;
        transition-duration: .3s;
        
        &:hover {
            background-color: v.$gris;
            cursor: pointer;
        }
    }
}
