footer.footer
      .footer__grid.contenedor
        nav.footer__navegacion
          a(href="", class="footer__enlace") Categorias
          a(href="", class="footer__enlace") Crear una cuenta
          a(href="", class="footer__enlace") Login
          a(href="", class="footer__enlace") Más información
          a(href="", class="footer__enlace") Sobre nosotros
          a(href="", class="footer__enlace") Preguntas Frecuentes
        nav.footer__navegacion
          a(href="", class="footer__enlace") Categorias
          a(href="", class="footer__enlace") Crear una cuenta
          a(href="", class="footer__enlace") Login
          a(href="", class="footer__enlace") Más información
          a(href="", class="footer__enlace") Sobre nosotros
          a(href="", class="footer__enlace") Preguntas Frecuentes
        .footer__redes-flex
          h3.footer__heading Siguénos en nuestras redes sociales
          .redes
            a.redes__enlace(href="")
              img.redes__icono(src="/img/facebook.png")
            a.redes__enlace(href="")
              img.redes__icono(src="/img/instagram.png")
            a.redes__enlace(href="")
              img.redes__icono(src="/img/twitter.png")
            a.redes__enlace(href="")
              img.redes__icono(src="/img/tiktok.png")
.derechos
      p.derechos__texto Todos los derechos reservados compu-center 2024 ©
