footer.footer
  .footer__grid.contenedor
    nav.footer__navegacion
      a.footer__enlace(href="") Categorias
      a.footer__enlace(href="") Crear una cuenta
      a.footer__enlace(href="") Login
      a.footer__enlace(href="") Más información
      a.footer__enlace(href="") Sobre nosotros
      a.footer__enlace(href="") Preguntas Frecuentes
    nav.footer__navegacion
      a.footer__enlace(href="") Categorias
      a.footer__enlace(href="") Crear una cuenta
      a.footer__enlace(href="") Login
      a.footer__enlace(href="") Más información
      a.footer__enlace(href="") Sobre nosotros
      a.footer__enlace(href="") Preguntas Frecuentes
    .footer__redes-flex
      h3.footer__heading Siguenos en nuestras redes sociales
      .redes
        a.redes__enlace(href="")
          img.redes__icono(src="/img/facebook.png")
        a.redes__enlace(href="")
          img.redes__icono(src="/img/instagram.png")
        a.redes__enlace(href="")
          img.redes__icono(src="/img/twitter.png")
        a.redes__enlace(href="")
          img.redes__icono(src="/img/tiktok.png")
div.derechos
  p.derechos__texto Todos los derechos reservados compu-center 2024 ©