header.header
    .header__navegacion
        a(href="/")
            h1.header__degradado Compu-Center
        nav.header__nav
            .header__contenido-icono-login
                img.header__icono-login(src="/img/login.png", alt="icono login")
            a(href="/auth/login") iniciar sesión
            .header__contenido-icono-registro
                img.header__icono-registro(src="/img/registro.png", alt="icono login")
            a(href="/auth/registro") registrarse
section.hero
    .hero__contenido.contenedor
        .hero__informacion
            h2 ¿Ya Conoces Los Nuevos X-PRO?
            div
            p.hero__texto Inicia sesión y reserva tus X-PRO.
            button.hero__boton Añadir al carrito